@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hind:wght@700&display=swap');




:root {
  --color-primary: #000000;
  --color-secondary: #606060;
  --color-tertiary: #646464;
  --color-quaternary: #5f5f5f;
  --color-quinary: #b16262;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

body {
    background-color: #ffffff;

 
  font-family: 'Bungee', sans-serif;
  -ms-overflow-style: none;
        overscroll-behavior: none;
    
    
        
    }
    
    ::-webkit-scrollbar {
    display: none;
    }
   


.content {
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: 'Bungee', sans-serif;
  text-transform: uppercase;
  font-size: calc(5vw + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* //color: transparent;
  //background-color: white;
  //background-clip: text; */
  animation: shadows 1.2s ease-in infinite, move 2.2s ease-in infinite;
  letter-spacing: 0.2rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.main_image{
    align-content: center;
    text-align:center;
}

.main_image img{
    padding: 1%;
    width:30%;
}

.description{
    margin: 3% 8% 0 8%;
    font-size: 2vw;
}


